.product__details {
  margin-top: 50px;
}

.product__details h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.product__rating span i {
  color: coral;
}

.product__details span {
  font-weight: 600;
  font-size: 1.3rem;
}

.btn {
  border: none;
  padding: 10px 20px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.active__h6 {
  font-weight: 600;
}

.tab__wrapper h6 {
  cursor: pointer;
}

.tab__content p {
  line-height: 30px;
}

.product__wrapper ul li span {
  color: coral;
  font-weight: 600;
}

.product__wrapper ul li p {
  margin-top: 10px;
}

.review__form {
  width: 70%;
  margin-top: 50px;
  margin: auto;
}

.review__form h4 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.form__group input,
.form__group textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;
}

.form__group {
  margin-bottom: 30px;
}

.form__group span {
  display: flex;
  align-items: center;
  color: coral;
  column-gap: 5px;
  font-weight: 600;
  cursor: pointer;
}

.related__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .rating__group {
    column-gap: 0.5rem !important;
  }
}
